@model Register
@if (TempData["AuthError"] != null)
{
    <div class="alert @TempData["AuthErrorCss"] mb-5" role="alert">
        @TempData["AuthError"]
    </div>
}
<div class="form-wrapper">
    <div class="form-box registration-form">
        <h2>Üye Ol</h2>
        <form action="register" method="post">
            <p><input type="text" placeholder="Ad ve Soyad" name="FullName" value="@Model.FullName" required /></p>
            <p><input type="text" placeholder="@@Kullanıcı Adı" name="Username" value="@Model.Username" required /></p>
            <p><input type="password" placeholder="Şifre" name="Password" required /></p>
            <p><input type="password" placeholder="Şifreyi Tekrar Yaz" name="PasswordCheck" required /></p>
            <p><input type="email" placeholder="E-Posta Adresi" value="@Model.Email" name="Email" required /></p>
            <button type="submit">Üye Ol</button>
        </form>
    </div>

    <div class="form-box login-form">
        <h2>Giriş Yap</h2>
        <form action="login" method="post">
            <p><input type="text" placeholder="Kullanıcı Adı" name="Username" required /></p>
            <p><input type="password" placeholder="Şifre" name="Password" required /></p>
            <button type="submit">Giriş Yap</button>
        </form>
    </div>

    <div class="form-box login-form">
        <h2>Şifremi Unuttum</h2>
        <form action="/resetPassword" method="post">
            <p><input type="email" placeholder="E-Posta" name="Email" required /></p>
            <button type="submit">İstek Gönder</button>
        </form>
    </div>

</div>