@model Profile

<br />
<div class="profile-header">
  
    <div class="profile-info">
        <div class="profile-photo">
            <img src="@Model.User.ProfilePictureUrl" alt="Profile Photo">
        </div>
        <div class="profile-details">
            <h1>@Model.User.FullName</h1>
            <h2>@@@Model.User.Username</h2>
            <p class="bio">@Model.User.Bio</p>
        </div>
    </div>
</div>

@foreach (var post in Model.Posts)
{
    <div class="tweet-container">
        <div class="profile-photo">
            <img src="@post.ProfilePictureUrl" alt="Profile Photo">
        </div>
        <div class="tweet-content">
            <p class="tweet-user-id">
                <a href="/profile/@post.Username/@post.UserId">@post.Username</a>
            </p>
            <a href="/post/@post.Id">
                <p class="tweet-contents">@post.Message</p>
            </a>
            <p class="tweet-created-date">@post.CreatedDate</p>
        </div>
    </div>
}